@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');
h1 {
    font-family: 'Square Peg', cursive;
}

body:not(i) {
    font-family: 'Azeret Mono', monospace;
}

nav img {
    width: 100px;
}

section#home h1 {
    font-size: 7rem;
}

section#home {
    color: #fff;
}

.aboutMeContainer {
    background-image: url('https://drive.google.com/uc?export=view&id=1GBTRUCXpwpaRv-rxuGRdfIvj8LOZkJvP');
    background-size: cover;
    background-position: center;
}

.skill-label {
    width: 25%;
}

.progress-bar {
    background-color: #b90e0a;
}

.btn-primary {
    background-color: #b90e0a;
    border-color: #000;
    border-width: 1px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #b90e0a;
    border-color: #000;
    border-width: 1px;
}

#arrowDown {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: relative;
}

#arrowDown:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://drive.google.com/uc?export=view&id=15FRzSqSdHJTwI9pFvwgxtG7zLAkdqtiT');
    background-size: cover;
}

#arrowDown:hover:before {
    background-image: url('https://drive.google.com/uc?export=view&id=12-xTKagODaHHL-vPZdZ6ns3ChmebHXIA');
}

section#work,
footer {
    background-color: #2f2e41;
    color: #fff;
}

section#contact {
    background-color: #ffe5cd;
}

section#work .card {
    background-color: transparent;
}


/* ANIMATION - start */

.animate.slide-up {
    opacity: 0;
    transform: translatey(-100%);
    transition: all 1s;
}

.animate {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.animated {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}


/* ANIMATION - end */