@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');
h1,
.h1 {
    font-family: 'Square Peg', cursive;
}

body:not(i) {
    font-family: 'Azeret Mono', monospace;
}

body a {
    text-decoration: unset;
}

nav img {
    width: 100px;
}

div.navigation {
    background-color: #fff;
    box-shadow: #000 1px 1px 10px;
}

div.navigation a {
    color: #2f2e41;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
}

div.navigation li:not(.active) a:hover {
    color: #b90e0a;
}

nav li {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: center;
}

nav li.active {
    background-color: #b90e0a;
    transition: 0.2s;
}

nav li.active a {
    color: #fff;
}

.h1 {
    font-weight: bold;
}

section#home h1 {
    font-size: 7rem;
}

section#home {
    color: #fff;
}

.aboutMeContainer {
    background-image: url('assets/images/coffee\ beans.png');
    background-size: cover;
    background-position: center;
}

.skill-label {
    width: 25%;
}

.progress-bar {
    background-color: #b90e0a;
}

.btn-primary {
    background-color: #b90e0a;
    border-color: #000;
    border-width: 1px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #b90e0a;
    border-color: #000;
    border-width: 1px;
}

#arrowDown {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: relative;
}

#arrowDown:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('assets/images/white\ arrow.png');
    background-size: cover;
}

#arrowDown:hover:before {
    background-image: url('assets/images/red\ arrow.png');
}

section#work,
footer {
    background-color: #2f2e41;
    color: #fff;
}

section#contact .col:first-child {
    margin-right: -5%;
    z-index: 1;
}

section#contact .col:last-child {
    background-color: #2f2e41;
    color: #fff;
    box-shadow: #2f2e41 5px 5px 10px 1px;
}

section#work .card {
    background-color: transparent;
}


/* ANIMATION - start */

.animate.slide-up {
    opacity: 0;
    transform: translatey(-100%);
    transition: all 1s;
}

.animated.slide-up {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.animate.fade-in {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    transition: 1s all ease-in-out;
}

.animated.fade-in {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


/* ANIMATION - end */