@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');
h1 {
    font-family: 'Square Peg', cursive;
}

body:not(i) {
    font-family: 'Azeret Mono', monospace;
}

nav img {
    width: 100px;
}

.section1 {
    background-image: url(../images/sincerely-media-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.section1 h1 {
    font-size: 7rem;
}

.aboutMeContainer {
    background-image: url('https://drive.google.com/uc?export=view&id=1GBTRUCXpwpaRv-rxuGRdfIvj8LOZkJvP');
    background-size: cover;
    background-position: center;
}

.skill-label {
    width: 25%;
}

.progress-bar {
    background-color: #b90e0a;
}

.btn-primary {
    background-color: #b90e0a;
    border-color: #000;
    border-width: 1px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #b90e0a;
    border-color: #000;
    border-width: 1px;
}


/* ANIMATION - start */

.animate {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.animated {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/* ANIMATION - end */